.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #093485;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #2637d4;
}
